label {
    margin: 0 0.3em 0.3em 0;
}

/* Portrait and Landscape, iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .endPointContainer {
        background-color: rgb(27, 182, 73);
    }
}

/* Portrait and Landscape, mobile */
@media only screen and (max-width: 767px) {
    .endPointContainer {
        background-color: rgb(182, 27, 182);
    }
}
