.changeChartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 17px 100px;
    color: #ffffff;
    background-color: #282c34;
    margin: 2px;
    border-radius: 5px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.paramContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;
    color: #ffffff;
    background-color: #282c34;
    margin: 2px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 30rem;
}

.visualizerContainer {
    width: 70%;
    background-color: #282c34;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Portrait and Landscape, iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .contentContainer {
        flex-direction: column;
    }

    .paramContainer {
        flex-direction: column;
        min-height: 0rem;
        width: auto;
    }

    .visualizerContainer {
        width: auto;
        min-height: 20rem;
    }
}

/* Portrait and Landscape, mobile */
@media only screen and (max-width: 767px) {
    .contentContainer {
        flex-direction: column;
    }

    .paramContainer {
        flex-direction: column;
        min-height: 0rem;
        width: auto;
    }

    .visualizerContainer {
        width: auto;
        min-height: 20rem;
    }
}
