.barContainer {
    position: relative;
    height: 500px;
}

canvas {
}

/* Portrait and Landscape, iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .barContainer {
    }
}

/* Portrait and Landscape, mobile */
@media only screen and (max-width: 767px) {
    .barContainer {
    }
}
