body {
    background-color: #1e2127;
}

.main {
    padding: 0% 14% 0 14%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px;
    color: #ffffff;
    background-color: #282c34;
    margin: 2px;
    border-radius: 5px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    background-color: #ffd166;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

button:active {
    top: 0.1em;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
}

/* Portrait and Landscape, iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        flex-direction: column;
    }
}

/* Portrait and Landscape, mobile */
@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}
